<div class="message">

<header>
    <div class="icon"><i class="fa fa-message"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <p>Name: {{ name }}</p>
    <p>Message: {{ message }}</p>
</section>

</div>
