<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=384, initial-scale=1">

    <title>{{ title }}</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="paper-wrapper">
    <main class="paper">
        {{{ body }}}
    </main>
    </div>

</body>
</html>
