<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <!-- paper width is 384 -->
    <meta name="viewport" content="width=384, initial-scale=1">

    <title>{{ title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Knewave|Permanent+Marker|Trade+Winds|Kite+One|Finger+Paint|Vibur|Piedra|Creepster|Akronim' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="paper-wrapper">
    <main class="paper">
        {{{ body }}}
    </main>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.slabtext.js"></script>
    <script>
        $('.slabtext').slabText();
    </script>

</body>
</html>
