<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=384, initial-scale=1">

    <title>{{ title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>

        *, *::before, *::after{
            padding: 0;
            margin: 0;
            box-sizing: border-box;

            /* disable anti-aliasing on fonts */
            font-smooth: never;
            -webkit-font-smoothing : none;
        }

        html{
            background: whiteSmoke;
        }

        body{
            overflow: hidden;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }

        @media (max-width: 384px){
            html, body{
                width: 384px;
                max-height: 800px;
            }
        }

        .paper-wrapper{
            max-width: 498px; /* max width of thermal paper */
            margin: 1em auto;

            background: #DBDBDB;
            box-shadow: -1px 0 0 black, 1px 0 0 black;
        }


        @media (max-width: 384px){
            .paper-wrapper{ margin: 0 auto; }
        }

    	.paper{
            overflow: hidden; /* clearfix */
    		position: relative;
            margin: 0 auto;
    		z-index: 10;
            width: 384px; /* max width of printing area */
            min-height: 384px;
            max-height: 800px;

            background: white;
    	}

        /* content styles */

        header{
            overflow: hidden; /* clearfix */

            overflow: hidden;
            display: block;
            margin-bottom: .25em;
            padding: 0 5px;
            height: 1em;

            font-size: 3.5em;
            font-weight: 900;
            color: white;

            background: black;
        }

        header .icon{
            float: left;
        }

        header .title{
            float: right;
            text-align: right;
            text-transform: lowercase;
        }

        h1{
            font-size: 2em;
        }

        .details{
            padding: .25em 0;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            font-weight: 600;
        }

        img{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        span{
            display: block;

            font-size: 1.5em;
        }

        span:last-child{
            margin-bottom: .25em;
        }

        time, p{
            float: left;
            padding: .5em 0;

            font-size: 1.75em;
        }

        time{
            width: 70%;
        }

        p{
            width: 30%;
            text-align: right;
        }

        q{
            display: block;
            padding: .5em 0;

            font-size: 2em;
            text-align: center;
        }

    </style>

</head>
<body>

    <div class="paper-wrapper">
    <main class="paper">
        {{{ body }}}
    </main>
    </div>

</body>
</html>
