<header>
	<div class="icon"><i class="fa fa-star"></i></div>
	<div class="time"><a href="https://github.com/zaccolley/thermointerprinter">thermointerprinter</a></div>
</header>

<div class="alert"></div>

<a href="/lastfm?username=zaccolley"><h2>Last.FM</h2></a>

<hr>

<a href="/instagram"><h2>Instagram</h2></a>

<hr>

<a href="/word"><h2>Word of the Day</h2></a>

<hr>

<a href="/onthisday"><h2>On this day</h2></a>

<hr>

<a href="/reddit"><h2>TIL</h2></a>

<hr>

<a href="/space"><h2>How many people in space?</h2></a>

<hr>

<a href="/weather"><h2>Weather</h2></a>

<hr>

<a href="/sharks"><h2>Sharks</h2></a>
