<h1>Printer</h1>

<h2>Send a message</h2>

<form action="/" method="POST">

	<label for="name">From</label>
	<input class="form__name" type="text" name="name" autofocus placeholder="Anon" />

	<label for="message">Message</label>
	<textarea class="form__message" type="text" name="message" placeholder="..."></textarea>

	<input class="text-button" type="submit" value="Send message">

</form>

<h2>Last.FM</h2>

<form action="/?lastfm=go" method="POST">

	<input type="submit" value="Print latest song from Last.FM">

</form>

<h2>Instagram</h2>

<form action="/?instagram=go" method="POST">

	<input type="submit" value="Print a Instagram post">

</form>

<h2>Weather</h2>

<form action="/?weather=go" method="POST">

	<input type="submit" value="Print the weather">

</form>
