<form action="/">

	<div class="from">
		<label for="name">From:</label>
		<input class="form__name" type="text" name="name" autofocus placeholder="Anon" />
	</div>


	<label for="message">Message</label>
	<textarea class="form__message" type="text" name="message" placeholder="..."></textarea>

	<input class="text-button" type="submit" value="Send">

</form>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>

	$('.text-button').on('click', function(e){

		var name = $('.form__name').val(),
			message = $('.form__message').val();

		$.ajax({
			url: '/?name='+ name +'&message='+ message,
			type: "POST"
		}).done(function(){
			$('.form__name').val('');
			$('.form__message').val('');
		});

		e.preventDefault();
	});
</script>
