<style>
	*, *::before, *::after{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	body{
		background: #4C5262;
		font-family: sans-serif;
	}

	form{
		display: block;
		margin: 20px auto 0;
		padding: 1.5em;
		width: 500px;
		max-width: 100%;

		background: white;
	}

	label, input, textarea{
		display: block;
	}

	label{
		font-size: 1.5em;
	}

	input, textarea{
		font-size: 2em;
		padding: .5em;

		border: 2px solid #F0F0F0;
	}

	textarea{
		height: 300px;
		width: 100%;
		max-width: 100%;

		font: inherit;
		font-size: 1.5em;
	}

	hr{
		margin: 1em 0;
	}

	.from{
		overflow: hidden; /* clearfix */
		padding-bottom: 1em;
	}

	.from label,
	.from input{
		display: inline-block;
		font-size: 1.5rem;
	}

	.from label{
	}

	.from input{
		background: none;
	}

	.from input:focus{
		outline: none;

		background: #ddd;
	}

	label[for=message]{
		/* hide but visible for screen readers */
		position: absolute;
		left: -9999px;
	}

	.text-button{
		display: block;
		margin: 10px auto 0;
		padding: .25em;
		width: 90%;

		color: rgba(0,0,0,.5);

		border: 0;
		border-radius: 10px;
		background: #00FF47;
	}

	.text-button:hover{
		opacity: .95;
		cursor: pointer;
	}

	.printer{
		z-index: -10;

		width: 675px;
		max-width: 97.5%;
		margin: -175px auto 1em;
		padding: 1em;
		padding-bottom: 150px;

		background: #1A1A1A;
		border-radius: 5px;
	}

	.printer__light{
		margin: 18px;
		height: 15px;
		width: 15px;

		box-shadow: inset 0 0 10px #85E842, 0 0 20px #85E842;
		border-radius: 50%;
		background-color: #42771E;

		-webkit-animation: glow .5s infinite alternate;
	}

	@-webkit-keyframes glow{
		from{
			box-shadow: 0 0 10px #85E842;
			background-color: #23410F;
		}
	}

	.paper-wrapper{
		position: relative;
		z-index: 10;

		width: 95%;
		margin: 0 auto;
	}

	.paper-wrapper::after{
		z-index: -1;
		position: relative;
		content: '';
		display: block;
		height: 16px;
		max-width: 550px;
		margin: -8px auto 0;
		border-radius: 5px;
		background: rgb(32, 32, 32);
	}
</style>

<div class="paper-wrapper">
<form action="/">

	<div class="from">
		<label for="name">From:</label>
		<input class="form__name" type="text" name="name" autofocus placeholder="Anon" />
	</div>


	<label for="message">Message</label>
	<textarea class="form__message" type="text" name="message" placeholder="..."></textarea>

	<input class="text-button" type="submit" value="Send">

</form>
</div>

<div class="printer">
	<div class="printer__light"></div>
</div>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>

	$('.text-button').on('click', function(e){

		var name = $('.form__name').val(),
			message = $('.form__message').val();

		$.ajax({
			url: '/?name='+ name +'&message='+ message,
			type: "POST"
		}).done(function(){
			$('.form__name').val('');
			$('.form__message').val('');
		});

		e.preventDefault();
	});
</script>
