<div class="instagram">

<header>
    <div class="icon"><i class="fa fa-instagram"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <div class="details">colleyzac</div>
    <h1>#tf2</h1>
</section>

<img class="image-full" src="{{ imagePath }}" alt="Image">

<section>
    <time><i class="fa fa-clock-o"></i> 3 weeks ago</time>
    <p><i class="fa fa-heart"></i> 7</p>
</section>

</div>
