<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=384, initial-scale=1">

    <title>test</title>

    <style>

        *, *::before, *::after{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html{
            background: whiteSmoke;
        }

        body, main{
            /* max width of thermal paper */
            width: 384px;
            margin: 0 auto;
        }

        body{
            background: white;
            font-family: sans-serif;
            font-weight: 600;

            /* disable anti-aliasing on fonts */
            font-smooth: never;
            -webkit-font-smoothing : none;
        }

        h1, small{
            display: block;
            padding: .25em;

            text-align: center;
            color: white;

            background: black;
        }

        small{
            font-size: 1.5em;
        }

        h1{
            font-size: 2.5em;
        }

        img{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        time, p{
            float: left;
            padding: .5em 0;

            font-size: 1.75em;
        }

        time{
            width: 70%;
            text-align: right;
        }

        p{
            width: 30%;
        }

        q{
            display: block;
            padding: .5em 0;

            font-size: 2em;
            text-align: center;
        }

    </style>

</head>
<body>

    <main>

        <small>Instagram</small>
        <h1>colleyzac</h1>

        <q>#tf2</q>

        <img src="/images/dithered.jpg" alt="Image">

        <p>7 ♥s</p>
        <time>3 weeks ago</time>

    </main>

</body>
</html>
