<div class="reddit">

<header>
    <div class="icon"><i class="fa fa-reddit"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <div class="details">Today I learned&hellip;</div>
    <h1>{{ postTitle }}</h1>
</section>

<section>
    <div class="details">From /r/todayilearned</div>
</section>

</div>
