<!-- original from berg -->

<div class="space">

<header>
    <div class="icon"><i class="fa fa-space-shuttle"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <div class="details">There are</div>
    <h1>{{ amount }}</h1>
    <div class="details">people in space right now</div>
</section>

</div>
