<div class="weather">

<header>
	<div class="icon"><i class="fa fa-cloud"></i></div>
	<div class="time">{{ time }}</div>
</header>

<section>
	<ul>
	{{#each days}}
		<li>
			<strong>{{ name }}</strong> - {{ temp }}<br>
			{{ summary }}
		</li>
	{{/each}}
	</ul>
</section>

</div>
