*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* disable anti-aliasing on fonts */
    font-smooth: never;
    -webkit-font-smoothing : none;
}

html{
    background: pink;
}

body{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media (max-width: 384px){
    html, body{
        width: 384px;
    }
}

a{
    color: inherit;
    font: inherit;
    text-decoration: none;
}

a:hover{
    opacity: .8;
}

.paper-wrapper{
    max-width: 441px; /* max width of thermal paper */
    margin: 1em auto;

    background: white;
}

@media (max-width: 384px){
    .paper-wrapper{ margin: 0 auto; }
}

.paper{
    overflow: hidden; /* clearfix */
    position: relative;
    margin: 0 auto;
    z-index: 10;
    width: 384px; /* max width of printing area */

    background: white;
}

/* content styles */

header{
    overflow: hidden; /* clearfix */
    display: block;
    max-height: 40px;
    padding: .25em .5em;
    padding-right: 50px;
    margin-bottom: .25em;

    font-size: 1.5em;
    font-weight: 400;
    color: white;

    background: black url('../images/header-bg-right.png');
    background-position: top right;
    background-repeat: repeat-y;
    background-size: 40px;
}

header .icon{
    float: left;
}

header .time{
    float: right;

    text-align: right;
    font-size: 1em;
}

hr{
    margin: .5em 0;

    border: 0;
    border-top: 1px solid black;
    border-bottom: 3px double black;
}

h1{
    line-height: 1em;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: .25em;
    text-align: center;
}

h2{
    margin-bottom: .25em;
    padding: 5px;

    color: black;
    text-shadow: -1px 0 0 white, -2px 0 0 white, -3px 0 0 white,
                  1px 0 0 white,  2px 0 0 white,  3px 0 0 white,
                 0 -1px 0 white, 0 -2px 0 white, 0 -3px 0 white,
                 0  1px 0 white, 0  2px 0 white, 0  3px 0 white;
    background-image: url('../images/diagonal_lines_bg.png');
}

.username,
.details{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.username{
    font-style: italic;
    font-weight: 400;
    margin-bottom: .5em;
    border-bottom: 3px double;
    font-size: 1.25em;
}

.details{
    font-weight: 700;
    font-size: 1.35em;
}

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

span{
    display: block;

    font-size: 1.5em;
}

span:last-child{
    margin-bottom: .25em;
}

q{
    display: block;
    padding: .5em 0;

    font-size: 2em;
}

.image-full{
    border: 3px double black;
}

form{
    padding: 1em;
    margin-bottom: 1em;

    border-left: 4px double black;
}

form label,
form input,
form textarea{
    display: block;
    margin-bottom: .25em;
}

form input,
form textarea{
    padding: 5px;

    background: white;
    border: 1px solid black;
}

form input[type=submit]:hover{
    background: black;
    color: white;
    cursor: pointer;
}

/* specific styles */

.instagram time, .instagram p{
    float: left;
    padding: .5em 0;

    font-size: 1.75em;
}

.instagram p{
    width: 30%;
    text-align: right;
}

.instagram time{
    width: 70%;
}


.lastfm time, .lastfm p{
    float: left;
    padding: .5em 0;

    font-size: 1.75em;
}

.lastfm p{
    width: 30%;
    text-align: right;
}

.lastfm time{
    width: 70%;
}

.reddit h1{
    font-size: 1.5em;
}

.reddit .details{
    font-size: 1.25em;
    font-weight: 400;
}

.space{
    background: url('../images/space_bg.png') center 40px  no-repeat;
    padding-bottom: 20px;
}

.space h1{
    margin-bottom: 0;

    font-size: 12em;
    text-shadow: -1px 0 0 white, -2px 0 0 white, -3px 0 0 white, -4px 0 0 white, -5px 0 0 white,
                  1px 0 0 white,  2px 0 0 white,  3px 0 0 white,  4px 0 0 white,  5px 0 0 white,
                 0 -1px 0 white, 0 -2px 0 white, 0 -3px 0 white, 0 -4px 0 white, 0 -5px 0 white,
                 0  1px 0 white, 0  2px 0 white, 0  3px 0 white, 0  4px 0 white, 0  5px 0 white;
}

.space .details{
    text-shadow: -1px 0 0 white, -2px 0 0 white, -3px 0 0 white,
                  1px 0 0 white,  2px 0 0 white,  3px 0 0 white,
                 0 -1px 0 white, 0 -2px 0 white, 0 -3px 0 white,
                 0  1px 0 white, 0  2px 0 white, 0  3px 0 white;
}

.space .people li{
    display: block;
    padding: .5em .25em;
    margin-bottom: .25em;

    overflow: hidden; /* clearfix */
    border-bottom: 1px dashed;
}

.space .people .name{
    float: left;
    width: 85%;
    overflow: hidden;

    white-space: nowrap;
    font-size: 1.25em;
    text-overflow: ellipsis;
}

.space .people .country{
    float: left;
    width: 15%;

    font-size: .75em;
    text-align: right;
    text-transform: uppercase;
}

.space .people .title{
    float: left;
    width: 40%;
    font-size: 1em;
}

.space .people .time{
    float: left;
    width: 60%;

    font-size: .85em;
    font-style: italic;
    text-align: right;
}

.word h1{
    margin: .25em 0;
    padding: 1em;

    color: black;
    text-transform: uppercase;
    text-shadow: 0 2px 0 white, 0 4px 0 black, 0 6px white;

    background: url('../images/diagonal_lines_bg.png');
}

.onthisday .output{
    font-size: 1em;
}

.onthisday h1{
    padding-top: .25em;
}

.onthisday .year{
    display: block;
    font-size: 2em;

    text-align: center;
    color: black;
    text-shadow: -1px 0 0 white, -2px 0 0 white, -3px 0 0 white,
                  1px 0 0 white,  2px 0 0 white,  3px 0 0 white,
                 0 -1px 0 white, 0 -2px 0 white, 0 -3px 0 white,
                 0  1px 0 white, 0  2px 0 white, 0  3px 0 white;
    background-image: url('../images/diagonal_lines_bg.png');
}

.onthisday .info{
    padding: .5em;

    font-size: 1.25em;
}

.onthisday .info i,
.onthisday .info b,
.onthisday .info a{
    line-height: 1em;
}
