<!-- original from berg -->

<div class="word">

<header>
    <div class="icon"><i class="fa fa-book"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <div class="details">Word of the Day</div>
    <h1>{{ word }}</h1>
    <div class="details">{{ desc }}</div>
</section>

</div>
